$link: #A86BEC;
$control: #FFF;

/* no scroll showing */
::-webkit-scrollbar {
    width: 0em;
    display:none;
}

::-webkit-scrollbar-track {
  width: 0;
}

::-webkit-scrollbar-thumb {
  width:0;
}

h1, h2, h3 {
  font-family:"Six Caps", sans-serif;
  a {font-family: inherit;}
}

p, ul, ol, li, a {
  font-family:"EB Garamond", serif;
}

.constant {
  position:absolute;
  bottom:1em;
  right:1em;
  z-index:100;
}

.pre-wrap {
  /* preserves white space for poems*/
  white-space: pre-wrap;
}

.right {
  text-align:right;
  padding-right:1em;
}

.reveal {

  overflow-x:hidden;
  /*overflow-y:scroll;*/

  .slides > section {
    height:100%;
    width:70%;
    margin:0 15%;
    overflow-x:hidden;
    overflow-y:auto;
  }

  h1, h2, h3, p, ul, ol, li, a {
    font-weight:400;
    text-align:left;
  }

  h1, h2, h3 {
    font-family:"Six Caps", sans-serif;
    a {font-family: inherit;}
  }

  p, ul, ol, li, a {
    font-family:"EB Garamond", serif;
  }

  h1 {
    font-size:1.5em;
  }

  h2 {
    font-size:0.75em;
  }

  p {
    margin-top:0;
    font-size:0.75em;
  }

  a {
    color:#444;
  }

  small {
    display:block;
    font-family:"Six Caps", sans-serif;
    font-size:0.6em;
    cursor:pointer;

    span {
      display:inline-block;
      width:30px;
    }
  }

}
