$line-height:1.3em;

/* no scroll showing */
::-webkit-scrollbar {
    width: 0em;
    display:none;
}

::-webkit-scrollbar-track {
  width: 0;
}

::-webkit-scrollbar-thumb {
  width:0;
}

/* indent */
.none {text-indent:0% !important;} /* for first paragraphs in proses */
.left {text-indent:10%;}
.middle {text-indent:20%;}
.right {text-indent:40%;}

.constant {
  position:absolute;
  top:1em;
  right:1em;
  z-index:100;

  .control {
    margin-top:1em;
  }
  small {
    display:block;
    font-family:"Six Caps", sans-serif;
    font-size:0.6em;
    letter-spacing: 0.1em;
    cursor:pointer;

    span {
      display:inline-block;
      width:30px;
    }
  }
}

#logo {
  display:block;
  width:100px;
  height:100px;
  background: url('../logo.png');
  background-size: cover;
}

/* introjs */
.introjs-helperNumberLayer {
  background: #aaa;
}

.introjs-tooltip {
  font-family:"EB Garamond", serif;
  line-height:1.45em;
}

/* reveal js */
.reveal {

  overflow-x:hidden;
  /*overflow-y:scroll;*/

  .slides > section {
    height:100%;
    width:75%;
    margin:0 12.5%;
    overflow-x:hidden;
    overflow-y:auto;
  }
  section img {
    border:none;
    box-shadow:none;
  }

  h1, h2, h3, p, ul, ol, li, a {
    font-weight:400;
    text-align:left;
  }

  h1, h2, h3 {
    font-family:"Six Caps", sans-serif;
    a {font-family: inherit;}
  }

  p, ul, ol, li, a {
    font-family:"EB Garamond", serif;
  }

  h1 {
    font-size:1.5em;
  }

  h2 {
    font-size:0.75em;
  }

  p {
    display:block;
    font-size:0.7em;
    margin:$line-height 0 0 0;

    /* for indents */
    span {
      display:inline-block;
    }
  }

  /* treat white space differently, prose vs poem*/
  section {
    &.prose p {
      white-space: pre-wrap;
      /*text-indent:1.3em;*/
    }

    &.poem p {
      white-space: pre;
    }
  }

  a {
    color:#444;
  }

}

@media screen and (max-width: 600px) {
  .constant {
    .control {margin-top:0;}

    small {
      visibility: hidden;
      display: inline-block;
      margin-right:0.6em;
      font-size:0.45em;

      p {
        visibility:visible;
      }
    }
  }

  #logo {
    width:60px;
    height:60px;
  }
}

@media screen and (max-width: 480px) {
/*
  .constant, .constant small p {
    visibility:hidden;
    z-index:-1;
  }

  .reveal {
    .slides {
      top:2em;
      height:1000px!important;
      transform: translate(-50%, -50%) scale(0.4)!important;
    }

    h1 {
      font-size:2.5em;
    }

    h2 {
      font-size:2em;
    }

  }
*/
}
